/* ===========================
   GLOBAL
=========================== */
html{
    scroll-behavior:smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Poppins,sans-serif;
    background:#f8fafc;
    color:#111827;
}

/* ===========================
   NAVBAR
=========================== */

.navbar{
    background:#fff;
    padding:18px 0;
    box-shadow:0 10px 30px rgba(0,0,0,.05);
}

.navbar-brand img{
    height:58px;
}

.navbar .nav-link{
    position:relative;
    color:#555;
    font-weight:500;
    margin:0 10px;
    transition:all .3s ease;
}
.navbar .nav-link::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:0;
    height:3px;
    background:#2563eb;
    border-radius:10px;
    transition:width .3s ease;
}

.navbar .nav-link:hover::after,
.navbar .nav-link.active::after{
    width:100%;
}

.navbar .nav-link.active{
    color:#2563eb !important;
    font-weight:600;
}

/* ===========================
   HERO SECTION
=========================== */

.hero{
    padding:120px 0 20px;
}

.hero-tag{
    background:#dbeafe;
    color:#2563eb;
    padding:10px 18px;
    border-radius:30px;
    font-weight:600;
    display:inline-block;
    margin-bottom:20px;
}

.hero h1{
    font-size:58px;
    font-weight:600;
    line-height:1.1;
    color:#0f172a;
    margin-bottom:25px;
}

.hero p{
    font-size:20px;
    color:#64748b;
    line-height:1.8;
}

.hero-buttons{
    margin-top:15px;
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.hero-points{
    display:flex;
    gap:15px;
    margin-top:20px;
    font-weight:500;
    flex-wrap:wrap;
}

.hero-points i{
    color:#22c55e;
    margin-right:8px;
}

.hero-image{
   max-width:500px;
   width:100%;
   display:block;
   margin:auto;
}

.btn{
    padding:14px 28px;
    border-radius:12px;
    font-weight:600;
}

/* ===========================
   FEATURES SECTION
=========================== */

.features{
    padding:10px 8% 10px;
    background:#ffffff;
}

.section-title{
    text-align:center;
    max-width:800px;
    margin:0 auto 25px;
}

.section-title span{
      display:inline-block;
    padding:15px 40px;
    background:#dbeafe;
    color:#2563eb;
    border-radius:999px;
    font-size:16px;
    font-weight:600;
    /* margin-bottom:25px; */
}

.section-title h2{
    font-size:40px;
    color:#0f172a;
    margin-bottom:20px;
    line-height:1.0;
}

.section-title p{
    font-size:20px;
    color:#64748b;
    line-height:1.8;
}


.features-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.feature-card{
    background:#fff;
    padding:35px;
    border-radius:18px;
    box-shadow:0 8px 30px rgba(0,0,0,.08);
    transition:0.3s ease;
}

.feature-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 40px rgba(37,99,235,.18);
}

.icon{
    font-size:42px;
    margin-bottom:20px;
}

.feature-card h3{
    font-size:26px;
    margin-bottom:15px;
    color:#111827;
}

.feature-card p{
    color:#64748b;
    line-height:1.8;
    font-size:17px;
}

/* ===========================
   MOBILE RESPONSIVE
=========================== */

@media (max-width:991px){

    .hero{
        padding-top:130px;
        text-align:center;
    }

    .hero h1{
        font-size:42px;
    }

    .hero-buttons{
        justify-content:center;
    }

    .hero-points{
        justify-content:center;
    }

    .hero-image{
        margin-top:50px;
        max-width:350px;
    }

    .navbar-brand img{
        height:48px;
    }

    .section-title h2{
        font-size:34px;
    }

    .section-title p{
        font-size:18px;
    }

    .feature-card{
        padding:25px;
    }

    .feature-card h3{
        font-size:22px;
    }
   
}

/* ===========================
   HOW IT WORKS
=========================== */

.how-it-works{
    padding:20px 8%;
    background:#f8fafc;
    text-align:center;
}

.steps{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
    margin-top:60px;
}

.step-card{
    background:#fff;
    border-radius:18px;
    padding:35px;
    text-align:center;
    box-shadow:0 8px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.step-card:hover{
    transform:translateY(-8px);
}

.step-number{
    width:60px;
    height:60px;
    margin:auto;
    margin-bottom:20px;
    border-radius:50%;
    background:#2563eb;
    color:#fff;
    font-size:24px;
    font-weight:700;
    display:flex;
    align-items:center;
    justify-content:center;
}

.step-card h3{
    margin-bottom:15px;
    font-size:24px;
}

.step-card p{
    color:#64748b;
    line-height:1.7;
}

section{
    scroll-margin-top:100px;
}

/* ===========================
        ABOUT SECTION
=========================== */

.about{
    padding:20px 8%;
    background:#ffffff;
}

.about-container{
    display:grid;
    grid-template-columns:45% 55%;
    gap:50px;
    align-items:center;
}

.about-image img{
    width:100%;
    max-width:500px;
}

.about-content h2{
    font-size:40px;
    margin:20px 0;
    color:#0f172a;
}

.about-content p{
    color:#64748b;
    line-height:1.8;
    margin-bottom:15px;
    font-size:15px;
}

.about-stats{
    display:flex;
    gap:25px;
    margin-top:30px;
}

.stat-box{
    background:#f8fafc;
    padding:25px;
    border-radius:16px;
    text-align:center;
    min-width:120px;
    box-shadow:0 8px 20px rgba(0,0,0,.05);
}

.stat-box h3{
    color:#2563eb;
    font-size:30px;
    margin-bottom:10px;
}

.stat-box p{
    margin:0;
    font-size:16px;
}

.section-badge{
    display:inline-block;
    padding:14px 36px;
    background:#dbeafe;
    color:#2563eb;
    border-radius:999px;
    font-size:18px;
    font-weight:700;
    letter-spacing:.5px;
}

/* =========================
   CONTACT SECTION
========================= */

.contact{
    padding:10px;
    background:#f8fbff;
    /* scroll-margin-top:90px; */
}

.contact-wrapper{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
    align-items:start;
    margin-top:30px;
}

.contact-info{
    display:flex;
    flex-direction:column;
    gap:16px;
    padding-top:10px;
}

.info-item{
    display:flex;
    align-items:flex-start;
    gap:18px;
}

.info-item i{
    width:55px;
    height:55px;
    background:#2563eb;
    color:#fff;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:22px;
    flex-shrink:0;
}

.info-item h4{
    margin-bottom:6px;
    font-size:20px;
    color:#0f172a;
}

.info-item span{
    color:#64748b;
    line-height:1.6;
}

.contact-info h3{
    font-size:34px;
    color:#0f172a;
    margin-bottom:10px;
}

.contact-info p{
    color:#64748b;
    line-height:1.8;
    margin-bottom:15px;
}



.contact-card{
    background:#fff;
    padding:30px 20px;
    border-radius:18px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.05);
    transition:.3s;
}

.contact-card:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 40px rgba(37,99,235,.12);
}

.contact-card i{
    font-size:34px;
    color:#2563eb;
    margin-bottom:15px;
}

.contact-card h3{
    font-size:22px;
    margin-bottom:10px;
    color:#0f172a;
}

.contact-card p{
    color:#64748b;
    margin:0;
    font-size:15px;
    line-height:1.6;
}

.contact-form{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:12px 18px;
    border:1px solid #dbe4f0;
    border-radius:12px;
    font-size:16px;
    font-family:'Poppins',sans-serif;
    background:#fff;
    transition:.3s;
    outline:none;
    /* min-height:0px; */
    resize:none;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border-color:#2563eb;
    box-shadow:0 0 0 4px rgba(37,99,235,.12);
}

.contact-form textarea{
    resize:none;
    min-height:170px;
}

.contact-form button{
    width:220px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
}

/* Contact Button */
.contact-form button{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;

    background:#2563eb;
    color:#fff;
    border:none;
    padding:16px 32px;
    border-radius:12px;
    font-size:16px;
    font-weight:600;
    font-family:'Poppins',sans-serif;
    cursor:pointer;
    transition:.3s;

    width:fit-content;
}

.contact-form button:hover{
    background:#1d4ed8;
}

/* ===========================
   FOOTER
=========================== */

.footer{
    background:#0f172a;
    color:#fff;
    padding:30px 0 20px;
    margin-top:10px;
    border-top:1px solid #e5e7eb;
}

.footer-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:40px;
}

.footer-logo{
    width:110px;
    margin-bottom:20px;
    transition:.3s;
}
.footer-logo:hover{
    transform:scale(1.05);
}

.footer-column h3{
    margin-bottom:18px;
    font-size:20px;
    color:#ffffff;
    font-weight:700;
}

.footer-column p{
    color:#cbd5e1;
    line-height:1.9;
}

.footer-column ul{
    list-style:none;
    padding:0;
}

.footer-column li{
    margin-bottom:12px;
}

.footer-column a{
    color:#cbd5e1;
    text-decoration:none;
    transition:.3s;
}

.footer-column a:hover{
    color:#3b82f6;
    padding-left:6px;
}

.social-icons{
    display:flex;
    gap:15px;
    margin-top:20px;
}

.social-icons a{
    width:42px;
    height:42px;
    border-radius:50%;
    background:#1e293b;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    font-size:18px;
    transition:.3s;
}

.social-icons a:hover{
    background:#2563eb;
    /* transform:translateY(-5px); */
    transform:translateY(-5px) scale(1.1);
}

.footer-bottom{
    margin-top:5px;
    border-top:1px solid rgba(255,255,255,.12);
    padding-top:10px;
    text-align:center;
    color:#94a3b8;
    font-size:15px;
}

.footer-disclaimer{
    margin-top:20px;
    font-size:13px;
    color:#94a3b8;
    line-height:1.6;
    text-align:center;
}

/* ===========================
   Contact Form Message
=========================== */

#formMessage{
    display:none;
    margin-top:20px;
    padding:15px 18px;
    border-radius:10px;
    font-size:15px;
    font-weight:500;
    line-height:1.5;
}

#formMessage i{
    margin-right:8px;
}

#formMessage.success{
    display:block;
    background:#ecfdf5;
    color:#065f46;
    border:1px solid #10b981;
}

#formMessage.error{
    display:block;
    background:#fef2f2;
    color:#991b1b;
    border:1px solid #ef4444;
}

#submitBtn:disabled{
    opacity:.75;
    cursor:not-allowed;
}

/* ==========================
   Input Validation
========================== */

.contact-form input,
.contact-form textarea{
    transition:.3s;
}

.contact-form input.valid,
.contact-form textarea.valid{
    border:2px solid #10b981;
}

.contact-form input.invalid,
.contact-form textarea.invalid{
    border:2px solid #ef4444;
}

#charCount{
    color:#6b7280;
    font-size:13px;
}

#charCount.limit{
    color:#ef4444;
    font-weight:600;
}
/* ==========================
   Form Group
========================== */

.form-group{
    margin-bottom:18px;
}

/* Reserve space for validation messages */

.error-text{
    display:block;
    min-height:18px;
    margin-top:6px;
    font-size:13px;
    font-weight:500;
    color:#dc2626;
}

/* Better focus effect */

.contact-form input:focus,
.contact-form textarea:focus{
    outline:none;
    border-color:#2563eb;
    box-shadow:0 0 0 4px rgba(37,99,235,.12);
}